* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    color: #FFF;
}
.fix-css {
    text-align:center;
}
h1 {
    font-size: 2rem;
    background-color: lightblue;
    text-align: center;
    padding: 0.5rem;
}



h4 {
    text-align: center;
}


h2 {
    background-color: aliceblue;
}

h2 {
    text-align: center;
}


h5 {
    text-align: center;
}
